In [1]:
import pandas as pd

In [2]:
# declare a list tasks whose products you want to use as inputs
upstream = ['clean_gdelt_data']

In [3]:
# Parameters
upstream = {
    "clean_gdelt_data": {
        "nb": "/Users/aiujdm2/market_watch/output/notebooks/clean_gdelt_data.ipynb",
        "data": "/Users/aiujdm2/market_watch/output/data/interim/cleaned-gdelt-data.csv",
    }
}
product = {"nb": "/Users/aiujdm2/market_watch/output/notebooks/build_features.ipynb"}

In [4]:
input_file_path = str(upstream['clean_gdelt_data']['data'])

In [5]:
def read_data(input_file_path):
    print(f"reading {input_file_path}")
    data = pd.read_csv(input_file_path, index_col=0)
    return data

In [6]:
data_df = read_data(input_file_path)

reading /Users/aiujdm2/market_watch/output/data/interim/cleaned-gdelt-data.csv

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 0 to 103
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GKGRECORDID    104 non-null    object
 1   Locations      104 non-null    object
 2   Persons        86 non-null     object
 3   Organizations  104 non-null    object
 4   AvgTone        104 non-null    float64
 5   PosScore       104 non-null    float64
 6   NegScore       104 non-null    float64
 7   Polarity       104 non-null    float64
 8   Org Count      104 non-null    object
dtypes: float64(4), object(5)
memory usage: 8.1+ KB

In [8]:
data_df.sample(10)

,GKGRECORDID,Locations,Persons,Organizations,AvgTone,PosScore,NegScore,Polarity,Org Count
85,20220322213000-1067,"['Delft, Zuid-Holland, Netherlands', 'Germany'...","['Nico Caballero', 'Andreas Ludt']","Courtesy Of Tesla Inc,1264;Courtesy Of Tesla I...",2.474527,2.911208,0.436681,3.347889,"{'Courtesy Of Tesla Inc': 3, 'Tesla Inc': 3}"
75,20220322194500-1266,[],"['Alex Spiro', 'Elon Musk']","Exchange Commission,182;Exchange Commission,21...",1.790281,4.092072,2.301790,6.393862,"{'Exchange Commission': 2, 'Twitter': 4, 'Tesl..."
58,20220323160000-1451,['America'],"['Zachary Kirkhorn', 'Banque Pictet', 'Banque ...","Securities Exchange Commission,2540;Zacks Inve...",0.715137,1.072706,0.357569,1.430274,"{'Securities Exchange Commission': 1, 'Zacks I..."
97,20220323120000-967,"['Minnesota, United States', 'Minnesota, Unite...","['Brian Goldner', 'Volodymyr Liskovych', 'Todd...","National Instrument,7178;Minnesota-- Newsfile ...",-0.415704,1.062356,1.478060,2.540416,"{'National Instrument': 1, 'Minnesota-- Newsfi..."
71,20220322173000-1678,"['Russian', 'New York, United States', 'New Yo...","['Jerome Powell', 'Sriraj Kalluvila', 'Peter C...","York Stock Exchange,121;Microsoft Corp,1611;Al...",-1.102941,1.470588,2.573529,4.044118,"{'York Stock Exchange': 1, 'Microsoft Corp': 1..."
50,20220322233000-T800,['Chinese'],NaN,"Tesla App Store,20;Tesla App Store,263;Tesla A...",1.806452,2.709677,0.903226,3.612903,"{'Tesla App Store': 4, 'Twitter': 2, 'Ministry..."
30,20220323053000-T1001,"['Taiwan', 'California, United States', 'Germa...",['Andy Herron'],"Tesla Is Research It,2777",1.097179,2.351097,1.253918,3.605016,{'Tesla Is Research It': 1}
43,20220322223000-1105,"['United Kingdom', 'Beijing, Beijing, China', ...","['Jerome Powell', 'Katie Haun']","United Airlines,1309;Delta Airlines,1252;Tesla...",0.931677,2.639752,1.708075,4.347826,"{'United Airlines': 1, 'Delta Airlines': 1, 'T..."
67,20220322190000-81,"['Texas, United States', 'Germany', 'Germany',...","['Lebron James', 'Elon Musk', 'Robert Habeck',...","Twitter,752;Twitter,2131;Spacex,121;Volkswagen...",3.638814,4.986523,1.347709,6.334232,"{'Twitter': 2, 'Spacex': 1, 'Volkswagen': 2, '..."
64,20220322181500-1224,"['United States', 'United States', 'United Sta...","['Gary Gensler', 'Robbie Schingler', 'Peter Pl...","Exelon Corp,5345;Dominion Energy,5376;Ford Mot...",0.786026,2.270742,1.484716,3.755459,"{'Exelon Corp': 1, 'Dominion Energy': 1, 'Ford..."

In [9]:
cond = (data_df['NegScore'] > 10) | (data_df['PosScore'] > 10)
data_df[cond]

Empty DataFrame
Columns: [GKGRECORDID, Locations, Persons, Organizations, AvgTone, PosScore, NegScore, Polarity, Org Count]
Index: []