In [1]:
import pandas as pd

In [2]:
# declare a list tasks whose products you want to use as inputs
upstream = ['clean_gdelt_data']

In [3]:
# Parameters
upstream = {
    "clean_gdelt_data": {
        "nb": "/Users/aiujdm2/market_watch/output/notebooks/clean_gdelt_data.ipynb",
        "data": "/Users/aiujdm2/market_watch/output/data/interim/cleaned-gdelt-data.csv",
    }
}
product = {"nb": "/Users/aiujdm2/market_watch/output/notebooks/build_features.ipynb"}

In [4]:
input_file_path = str(upstream['clean_gdelt_data']['data'])

In [5]:
def read_data(input_file_path):
    print(f"reading {input_file_path}")
    data = pd.read_csv(input_file_path, index_col=0)
    return data

In [6]:
data_df = read_data(input_file_path)

reading /Users/aiujdm2/market_watch/output/data/interim/cleaned-gdelt-data.csv

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7305 entries, 0 to 7304
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GKGRECORDID    7305 non-null   object
 1   Locations      7305 non-null   object
 2   Persons        5779 non-null   object
 3   Organizations  7277 non-null   object
 4   AvgTone        7305 non-null   float64
 5   PosScore       7305 non-null   float64
 6   NegScore       7305 non-null   float64
 7   Polarity       7305 non-null   float64
dtypes: float64(4), object(4)
memory usage: 513.6+ KB

In [8]:
data_df.head()

,GKGRECORDID,Locations,Persons,Organizations,AvgTone,PosScore,NegScore,Polarity
0,20211222093000-T1621,"['India', 'Beijing, Beijing, China', 'Shanghai...","['Tesla Zhengzhou', 'Tesla Square', 'Tesla Squ...",['Anyang Peoples'],-7.093822,0.915332,8.009153,8.924485
1,20211222100000-177,"['Japan', 'American', 'American', 'China', 'Ch...","['Chris Bryant', 'Stephen Diehl', 'Peter Atwat...","['Robinhood Markets', 'Robinhood Markets', 'Fo...",-1.909612,3.278167,5.187778,8.465945
2,20211222100000-898,"['New Jersey, United States', 'Chicago, Illino...","['Michael Burry', 'Michael Burry', 'Michael Bu...","['Harris Associates', 'Goldman Sachs', 'Number...",1.026958,2.182285,1.155327,3.337612
3,20211222094500-T1630,"['Texas, United States', 'Texas, United States...",['Jalan Tesla'],"['United States', 'United States', 'United Sta...",-0.405680,2.636917,3.042596,5.679513
4,20211222080000-T1480,"['New Market, Suffolk, United Kingdom', 'New M...",NaN,"['United States', 'Morgan Stanley', 'United St...",-1.226994,3.067485,4.294479,7.361963

In [9]:
data_df.query("Polarity > 15")

,GKGRECORDID,Locations,Persons,Organizations,AvgTone,PosScore,NegScore,Polarity
398,20220103074500-T809,"['Chi-Ho, South Korea (General), South Korea',...","['King Yu', 'King Yu']","['Health River', 'Health Han', 'Health Han', '...",14.309211,16.611842,2.302632,18.914474
1805,20211230133000-T1405,"['Zhao Wei, Yunnan, China', 'Han', 'Han', 'Chi...","['King Yu', 'King Yu']","['Health River', 'Health Han', 'Health Han', '...",13.929314,15.592516,1.663202,17.255717
1809,20211230143000-1217,[],NaN,['Traffic Safety'],2.040816,10.204082,8.163265,18.367347
1816,20211230150000-995,[],NaN,['Thomson Reuters'],1.818182,9.090909,7.272727,16.363636
2438,20211230173000-1079,[],NaN,['Thomson Reuters'],1.818182,9.090909,7.272727,16.363636
2454,20211230161500-98,[],NaN,['Thomson Reuters'],1.818182,9.090909,7.272727,16.363636
2455,20211230161500-330,[],NaN,['Thomson Reuters'],1.818182,9.090909,7.272727,16.363636
2457,20211230163000-268,[],NaN,['Thomson Reuters'],1.818182,9.090909,7.272727,16.363636
2458,20211230163000-1182,[],NaN,['Thomson Reuters'],1.818182,9.090909,7.272727,16.363636
2466,20211230154500-59,[],NaN,['Thomson Reuters'],1.818182,9.090909,7.272727,16.363636
3373,20220131174500-743,[],['Dan Levy'],['Credit Suisse'],7.692308,11.538462,3.846154,15.384615
4218,20220217033000-T896,"['Beijing, Beijing, China', 'China', 'China', ...",['Nicholas Garcia'],"['United States', 'United States', 'United Sta...",-15.555556,0.000000,15.555556,15.555556
4747,20220224084500-210,[],NaN,"['Motors Inc', 'National Ambient', 'Air Qualit...",-8.038585,4.501608,12.540193,17.041801
5133,20220223073000-520,"['California, United States', 'San Francisco, ...",['Martha Guzman'],"['Us Environmental', 'Protection Agency']",-5.017921,5.017921,10.035842,15.053763
6502,20220223164500-441,"['Nevada, United States', 'American']",NaN,"['Alameda County', 'Superior Court']",-6.481481,6.481481,12.962963,19.444444