In [1]:
import pandas as pd

In [2]:
# declare a list tasks whose products you want to use as inputs
upstream = ['fetch_yfinance_data']

In [3]:
# Parameters
upstream = {
    "fetch_yfinance_data": {
        "nb": "/root/market_watch/output/notebooks/fetch_yfinance_data.ipynb",
        "data": "/root/market_watch/output/data/raw/yfinance_ticker_data-raw.csv",
    }
}
product = {"nb": "/root/market_watch/output/notebooks/build_financial_features.ipynb"}

In [4]:
input_file_path = str(upstream['fetch_yfinance_data']['data'])

In [5]:
def read_data(input_file_path):
    print(f"reading {input_file_path}")
    data = pd.read_csv(input_file_path, index_col=0)
    return data

In [6]:
data_df = read_data(input_file_path)

reading /root/market_watch/output/data/raw/yfinance_ticker_data-raw.csv

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          63 non-null     object
 1   Open          63 non-null     float64
 2   High          63 non-null     float64
 3   Low           63 non-null     float64
 4   Close         63 non-null     float64
 5   Volume        63 non-null     int64
 6   Dividends     63 non-null     int64
 7   Stock Splits  63 non-null     int64
dtypes: float64(4), int64(3), object(1)
memory usage: 4.4+ KB

In [8]:
data_df.sample(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
51,2022-03-22,930.000000,997.859985,921.750000,993.979980,35289500,0,0
12,2022-01-25,914.200012,951.260010,903.210022,918.400024,28865300,0,0
35,2022-02-28,815.010010,876.859985,814.710022,870.429993,33002300,0,0
52,2022-03-23,979.940002,1040.699951,976.400024,999.109985,40225400,0,0
31,2022-02-22,834.130005,856.729980,801.099976,821.530029,27762700,0,0
16,2022-01-31,872.710022,937.989990,862.049988,936.719971,34812000,0,0
24,2022-02-10,908.369995,943.809998,896.700012,904.549988,22042300,0,0
49,2022-03-18,874.489990,907.849976,867.390015,905.390015,33408500,0,0
6,2022-01-14,1019.880005,1052.000000,1013.380005,1049.609985,24308100,0,0
5,2022-01-13,1109.069946,1115.599976,1026.540039,1031.560059,32403300,0,0