In [1]:
import pandas as pd

In [2]:
# declare a list tasks whose products you want to use as inputs
upstream = ['fetch_yfinance_data']

In [3]:
# Parameters
upstream = {
    "fetch_yfinance_data": {
        "nb": "/Users/aiujdm2/market_watch/output/notebooks/fetch_yfinance_data.ipynb",
        "data": "/Users/aiujdm2/market_watch/output/data/raw/yfinance_ticker_data-raw.csv",
    }
}
product = {
    "nb": "/Users/aiujdm2/market_watch/output/notebooks/build_financial_features.ipynb",
    "data": "/Users/aiujdm2/market_watch/output/data/features/financial_features.parquet",
}

In [4]:
input_file_path = str(upstream['fetch_yfinance_data']['data'])

In [5]:
def read_data(input_file_path):
    print(f"reading {input_file_path}")
    data = pd.read_csv(input_file_path, index_col=0)
    return data

In [6]:
data_df = read_data(input_file_path)

reading /Users/aiujdm2/market_watch/output/data/raw/yfinance_ticker_data-raw.csv

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          62 non-null     object
 1   Open          62 non-null     float64
 2   High          62 non-null     float64
 3   Low           62 non-null     float64
 4   Close         62 non-null     float64
 5   Volume        62 non-null     int64
 6   Dividends     62 non-null     int64
 7   Stock Splits  62 non-null     int64
dtypes: float64(4), int64(3), object(1)
memory usage: 4.4+ KB

In [8]:
data_df.sample(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
34,2022-02-11,909.630005,915.960022,850.700012,860.000000,26548600,0,0
20,2022-01-24,904.760010,933.510010,851.469971,930.000000,50521900,0,0
33,2022-02-10,908.369995,943.809998,896.700012,904.549988,22042300,0,0
2,2021-12-28,1109.489990,1119.000000,1078.420044,1088.469971,20108000,0,0
39,2022-02-18,886.000000,886.869995,837.609985,856.979980,22833900,0,0
31,2022-02-08,905.530029,926.289978,894.799988,922.000000,16909700,0,0
16,2022-01-18,1026.609985,1070.790039,1016.059998,1030.510010,22247800,0,0
7,2022-01-04,1189.550049,1208.000000,1123.050049,1149.589966,33416100,0,0
12,2022-01-11,1053.670044,1075.849976,1038.819946,1064.400024,22021100,0,0
60,2022-03-22,930.000000,997.859985,921.750000,993.979980,35200400,0,0