In [1]:
import pandas as pd

In [2]:
# declare a list tasks whose products you want to use as inputs
upstream = ['clean_gdelt_data']

In [3]:
# Parameters
upstream = {
    "clean_gdelt_data": {
        "nb": "/Users/aiujdm2/market_watch/output/notebooks/clean_gdelt_data.ipynb",
        "data": "/Users/aiujdm2/market_watch/output/data/interim/gdelt_gkg_data-cleaned.csv",
    }
}
product = {"nb": "/Users/aiujdm2/market_watch/output/notebooks/build_features.ipynb"}

In [4]:
input_file_path = str(upstream['clean_gdelt_data']['data'])

In [5]:
def read_data(input_file_path):
    print(f"reading {input_file_path}")
    data = pd.read_csv(input_file_path, index_col=0)
    return data

In [6]:
data_df = read_data(input_file_path)

reading /Users/aiujdm2/market_watch/output/data/interim/gdelt_gkg_data-cleaned.csv

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7212 entries, 0 to 7211
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GKGRECORDID    7212 non-null   object
 1   Locations      7212 non-null   object
 2   Persons        5712 non-null   object
 3   Organizations  7184 non-null   object
 4   AvgTone        7212 non-null   float64
 5   PosScore       7212 non-null   float64
 6   NegScore       7212 non-null   float64
 7   Polarity       7212 non-null   float64
 8   Org Count      7184 non-null   object
dtypes: float64(4), object(5)
memory usage: 563.4+ KB

In [8]:
data_df.sample(10)

,GKGRECORDID,Locations,Persons,Organizations,AvgTone,PosScore,NegScore,Polarity,Org Count
3856,20220212020000-376,"['Texas, United States', 'Texas, United States...","['Giga Berlin', 'Giga Berlin', 'Nico Caballero...","Tesla Service,992;Exchange Commission,340;Volk...",3.500000,4.000000,0.500000,4.500000,"{'Tesla Service': 1, 'Exchange Commission': 1,..."
5831,20220225101500-799,"['India', 'Japan', 'Japan', 'America', 'Americ...",NaN,"Enersys,4163;Penn Manufacturing Co,4221;Crown ...",1.200961,1.921537,0.720576,2.642114,"{'Enersys': 1, 'Penn Manufacturing Co': 1, 'Cr..."
6084,20220317150000-1380,"['Texas, United States', 'Tuscaloosa, Alabama,...","['Richard Pullin', 'Markus Schaefer', 'Tina Be...","White House,2032;Reuters,1507;Tesla Inc,1081;U...",-1.876676,3.217158,5.093834,8.310992,"{'White House': 1, 'Reuters': 1, 'Tesla Inc': ..."
1953,20220111221500-1525,[],NaN,"Tesla Inc,19;Tesla Inc,375;Nasdaq,177",2.173913,2.173913,0.000000,2.173913,"{'Tesla Inc': 2, 'Nasdaq': 1}"
4625,20220321093000-201,"['Brabant Wallon, Waals Gewest, Belgium', 'Sel...","['Asia Pacific', 'Asia Pacific', 'Arun Hegde']","Toyota Motor Corporation,422;Toyota Motor Corp...",2.173913,3.308129,1.134216,4.442344,"{'Toyota Motor Corporation': 2, 'University Of..."
5043,20220208153000-1327,"['India', 'India', 'India', 'India', 'India', ...","['Aditi Shah', 'Aditi Shah', 'Aaditya Thackera...","Tata Motors,2444;Mercedes Benz,2529;Softbank,1...",0.485437,2.750809,2.265372,5.016181,"{'Tata Motors': 1, 'Mercedes Benz': 1, 'Softba..."
6862,20220223020000-T745,"['United States', 'United States']",['States Cth'],"Disclosure Court File,359;Office Tesla,1687;Un...",-2.413793,2.068966,4.482759,6.551724,"{'Disclosure Court File': 1, 'Office Tesla': 1..."
5820,20220211213000-1207,"['America', 'America', 'America']","['Anika Salceda', 'Ford Oakville']","Ford Motor Co,29;Hummer,2564;Reuters,259;Tesla...",0.680272,1.133787,0.453515,1.587302,"{'Ford Motor Co': 1, 'Hummer': 1, 'Reuters': 1..."
3996,20220127163000-1021,"['Tokyo, Tokyo, Japan', 'Tokyo, Tokyo, Japan',...","['Clotilde Delbos', 'Dominique Senard']","Nissan,51;Nissan,1836;Nissan,2154;Nissan,2572;...",2.245250,2.763385,0.518135,3.281520,"{'Nissan': 6, 'Renault': 6, 'Mitsubishi Motor'..."
1255,20220105013000-T682,"['United States', 'United States', 'United Sta...","['Hall Tesla', 'Xinjiang Hall', 'Xinjiang Hall...","Express,84;United States Senate,925;Council On...",0.000000,2.316602,2.316602,4.633205,"{'Express': 1, 'United States Senate': 1, 'Cou..."

In [9]:
cond = (data_df['NegScore'] > 10) | (data_df['PosScore'] > 10)
data_df[cond]

,GKGRECORDID,Locations,Persons,Organizations,AvgTone,PosScore,NegScore,Polarity,Org Count
36,20211225084500-T731,"['India', 'South Korea', 'South Korea', 'Beiji...",['Guo Chan'],"Tesla Shanghai,443;Tesla Shanghai,1957;A Legal...",-8.304297,1.742160,10.046458,11.788618,"{'Tesla Shanghai': 2, 'A Legal': 1, 'Service B..."
642,20211231190000-545,"['Virginia, United States', 'Virginia, United ...","['Keith Ellison', 'Peter Cahill', 'Los Angeles...","Bloomberg,10;Bloomberg,6745;Bloomberg,8229;Tes...",-8.356941,2.124646,10.481586,12.606232,"{'Bloomberg': 3, 'Tesla Inc': 1, 'University O..."
684,20211230133000-T1405,"['Zhao Wei, Yunnan, China', 'Han', 'Han', 'Chi...","['King Yu', 'King Yu']","Health River Lee,2209;Health Han,1903;Health H...",13.929314,15.592516,1.663202,17.255717,"{'Health River Lee': 1, 'Health Han': 2, 'Heal..."
688,20211230143000-1217,[],NaN,"Traffic Safety Administration,280;Tesla Inc,9",2.040816,10.204082,8.163265,18.367347,"{'Traffic Safety Administration': 1, 'Tesla In..."
964,20220103074500-T809,"['Chi-Ho, South Korea (General), South Korea',...","['King Yu', 'King Yu']","Health River Lee,3014;B Health,178;Health Han,...",14.309211,16.611842,2.302632,18.914474,"{'Health River Lee': 1, 'B Health': 1, 'Health..."
1248,20220105020000-T838,"['United Kingdom', 'China', 'China', 'China', ...",NaN,"International Law,2013;International Law,3883;...",-8.866995,1.806240,10.673235,12.479475,"{'International Law': 2, 'Tesla Center': 1, 'U..."
1276,20220105050000-797,"['California, United States', 'San Francisco, ...",['Trevor Milton'],"Nikola Corp,54;Nikola Corp,928;Tesla Inc,121;T...",-11.904762,0.595238,12.500000,13.095238,"{'Nikola Corp': 2, 'Tesla Inc': 2}"
2900,20220219050000-T654,"['Florida, United States', 'Florida, United St...",NaN,"Tesla Service,882;Florida Court,415",-11.143695,0.000000,11.143695,11.143695,"{'Tesla Service': 1, 'Florida Court': 1}"
3132,20220227044500-T469,"['Nevada, United States', 'California, United ...",NaN,"Court To Tesla,244;United States,203;United St...",-8.174387,2.179837,10.354223,12.534060,"{'Court To Tesla': 1, 'United States': 2}"
3520,20220217024500-T518,"['Beijing, Beijing, China', 'China', 'China', ...",['Nicholas Garcia'],"Tesla Service,931;United States,190;United Sta...",-14.379085,0.000000,14.379085,14.379085,"{'Tesla Service': 1, 'United States': 5}"
3637,20220312220000-T717,"['Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serb...",NaN,"Historical Museum Serbia,3405;Museum Nicholas ...",9.261939,11.866860,2.604920,14.471780,"{'Historical Museum Serbia': 1, 'Museum Nichol..."
3748,20220119171500-916,"['California, United States', 'Arizona, United...","['Kevin George', 'Gilberto Alcazar']","Tesla Motors Inc,554;Associated Press,936;Unit...",-9.508197,0.655738,10.163934,10.819672,"{'Tesla Motors Inc': 1, 'Associated Press': 1,..."
3822,20220313004500-T560,"['Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serb...",NaN,"Historical Museum Serbia,3340;Museum Nicholas ...",9.197080,11.824818,2.627737,14.452555,"{'Historical Museum Serbia': 1, 'Museum Nichol..."
3922,20220217033000-T896,"['Beijing, Beijing, China', 'China', 'China', ...",['Nicholas Garcia'],"Tesla Service,906;United States,165;United Sta...",-15.555556,0.000000,15.555556,15.555556,"{'Tesla Service': 1, 'United States': 5}"
3925,20220217051500-T950,"['Beijing, Beijing, China', 'China', 'China', ...",['Nicholas Garcia'],"Tesla Service,902;United States,161;United Sta...",-14.617940,0.000000,14.617940,14.617940,"{'Tesla Service': 1, 'United States': 5}"
3926,20220217041500-T550,"['Florida, United States', 'United States', 'U...",NaN,"Tesla Service,1463;Florida State Court,979;Uni...",-10.104530,0.696864,10.801394,11.498258,"{'Tesla Service': 1, 'Florida State Court': 1,..."
3928,20220217043000-T853,"['Beijing, Beijing, China', 'China', 'China', ...",['Nicholas Garcia'],"Tesla Service,939;United States,198;United Sta...",-14.285714,0.000000,14.285714,14.285714,"{'Tesla Service': 1, 'United States': 5}"
4265,20220316054500-T911,"['Taiwan', 'Taiwan', 'Peru']",NaN,"Foundation Peru,1726;Ikegami,1868;Office Tesla...",-11.834320,1.183432,13.017751,14.201183,"{'Foundation Peru': 1, 'Ikegami': 1, 'Office T..."
4771,20220224084500-210,[],NaN,"Tesla Motors Inc,87;National Ambient Air Quali...",-8.038585,4.501608,12.540193,17.041801,"{'Tesla Motors Inc': 1, 'National Ambient Air ..."
4919,20220218124500-T320,[],NaN,"Tesla The Software,458",-8.421053,3.157895,11.578947,14.736842,{'Tesla The Software': 1}
5146,20220215124500-353,"['Alhambra, Queensland, Australia', 'Alhambra,...","['Ignacio Socorro', 'Ian Linder']","Youtube,1600;Traffic Safety Administration,345...",-7.804878,2.276423,10.081301,12.357724,"{'Youtube': 1, 'Traffic Safety Administration'..."
5376,20220223073000-520,"['California, United States', 'San Francisco, ...",['Martha Guzman'],"Tesla Motors,295;Us Environmental Protection A...",-5.017921,5.017921,10.035842,15.053763,"{'Tesla Motors': 1, 'Us Environmental Protecti..."
5547,20220131174500-743,[],['Dan Levy'],"Credit Suisse,116;Tesla Inc,20",7.692308,11.538462,3.846154,15.384615,"{'Credit Suisse': 1, 'Tesla Inc': 1}"
5556,20220217073000-T1171,"['Beijing, Beijing, China', 'China', 'China', ...",['Nicholas Garcia'],"Tesla Service,1047;United States,306;United St...",-14.626866,0.000000,14.626866,14.626866,"{'Tesla Service': 1, 'United States': 5}"
5557,20220217073000-T1174,"['Florida, United States', 'Florida, United St...",['Nicholas Garcia'],"Tesla Service,937;Florida State Court,417",-11.848341,0.473934,12.322275,12.796209,"{'Tesla Service': 1, 'Florida State Court': 1}"
5814,20220211221500-355,"['California, United States', 'California, Uni...","['Tesla Fremont', 'Elon Musk']","California Department Of Fair Employment,58;Te...",-8.163265,2.295918,10.459184,12.755102,{'California Department Of Fair Employment': 1...
5853,20220307154500-T1643,[],NaN,"B Friends Department,20;B Friends Department,7...",9.514925,10.820896,1.305970,12.126866,"{'B Friends Department': 4, 'Tesla B Friends D..."
6588,20220308173000-788,[],['Allison Nathan'],"Exchange Commission,324;Tesla Inc,9",-8.988764,1.123596,10.112360,11.235955,"{'Exchange Commission': 1, 'Tesla Inc': 1}"
7104,20220223164500-441,"['Nevada, United States', 'American']",NaN,"Alameda County Superior Court On,252;Tesla Inc,19",-6.481481,6.481481,12.962963,19.444444,"{'Alameda County Superior Court On': 1, 'Tesla..."